---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<main class='space-y-40 mb-40'>
		<div class='relative'>
			<div class='max-w-7xl mx-auto px-6 md:px-12 xl:px-6'>
				<div class='relative ml-auto pt-24'>
					<div
						class='flex flex-row items-center justify-center lg:w-5/6 mx-auto border-b-2 border-slate-600'
					>
						<div class='basis-1/2'>
							<h1 class='py-4 text-slate-300 text-2xl'>
								Hi There, <br />
								<span class='text-indigo-500 text-8xl'>I'm Yoeri</span>
							</h1>
							<h1 class='py-2 text-gray-300'>Professional Pixel Mover</h1>
							<p class='py-4 text-gray-400'>
								I'm focused on building responsive front-end web applications
								I've always had a passion for technology and computers and
								decided to learn how to make simple websites which turned into
								some freelance gigs.
							</p>
							<div class='flex flex-row text-slate-300 pt-4'></div>
						</div>
						<div class='basis-1/2'>
							<img
								src='../../public/img/architech.png'
								alt=''
								class='item-center hidden sm:block'
							/>
						</div>
					</div>

					<div class='mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6'>
						<div
							class='p-4 grayscale transition duration-200 hover:grayscale-0'
						>
							<img
								src='../../public/skill-icons/html.png'
								class='h-12 w-auto mx-auto'
								loading='lazy'
								alt='client logo'
								width=''
								height=''
							/>
						</div>
						<div
							class='p-4 grayscale transition duration-200 hover:grayscale-0'
						>
							<img
								src='../../public/skill-icons/css.png'
								class='h-12 w-auto m-auto'
								loading='lazy'
								alt='client logo'
								width=''
								height=''
							/>
						</div>
						<div
							class='p-4 flex grayscale transition duration-200 hover:grayscale-0'
						>
							<img
								src='../../public/skill-icons/javascript.png'
								class='h-9 w-auto m-auto'
								loading='lazy'
								alt='client logo'
								width=''
								height=''
							/>
						</div>
						<div
							class='p-4 grayscale transition duration-200 hover:grayscale-0'
						>
							<img
								src='../../public/skill-icons/php.png'
								class='h-12 w-auto mx-auto'
								loading='lazy'
								alt='client logo'
								width=''
								height=''
							/>
						</div>
						<div
							class='p-4 flex grayscale transition duration-200 hover:grayscale-0'
						>
							<img
								src='../../public/skill-icons/react.png'
								class='h-8 w-auto m-auto'
								loading='lazy'
								alt='client logo'
								width=''
								height=''
							/>
						</div>
						<div
							class='p-4 grayscale transition duration-200 hover:grayscale-0'
						>
							<img
								src='../../public/skill-icons/tailwind.png'
								class='h-12 w-auto mx-auto'
								loading='lazy'
								alt='client logo'
								width=''
								height=''
							/>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='mx-auto max-w-screen-lg px-3 py-6'>
			<div class='mb-12 space-y-2 text-center'>
				<h2
					class='text-3xl font-bold text-gray-800 md:text-4xl dark:text-white'
				>
					Recent Projects
				</h2>
				<p class='lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300'>
					Quam hic dolore cumque voluptate rerum beatae et quae, tempore sunt,
					debitis dolorum officia aliquid explicabo? Excepturi, voluptate?
				</p>
			</div>
			<div class='flex flex-col gap-6'>
				<div
					class='flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row'
				>
					<div class='shrink-0'>
						<a href='/demo/astro-boilerplate'>
							<img
								class='h-36 w-36 hover:translate-y-1'
								src='assets/images/project-web-design.png'
								alt='Project Web Design'
								loading='lazy'
							/>
						</a>
					</div><div>
						<div class='flex flex-col items-center gap-y-2 md:flex-row'>
							<a class='hover:text-cyan-400' href='/demo/astro-boilerplate'>
								<div class='text-xl font-semibold'>Project 1</div>
							</a><div class='ml-3 flex gap-2'>
								<div
									class='rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900'
								>
									Astro.js
								</div><div
									class='rounded-md px-2 py-1 text-xs font-semibold bg-lime-400 text-lime-900'
								>
									Web design
								</div><div
									class='rounded-md px-2 py-1 text-xs font-semibold bg-sky-400 text-sky-900'
								>
									Tailwind.css
								</div><div
									class='rounded-md px-2 py-1 text-xs font-semibold bg-rose-400 text-rose-900'
								>
									TypeScript
								</div>
							</div>
						</div><p class='mt-3 text-gray-400'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Suspendisse bibendum. Nunc non posuere consectetur, justo erat
							semper enim, non hendrerit dui odio id enim.
						</p>
					</div>
				</div><div
					class='flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row'
				>
					<div class='shrink-0'>
						<a href='/demo/astro-boilerplate'>
							<img
								class='h-36 w-36 hover:translate-y-1'
								src='assets/images/project-fire.png'
								alt='Project Fire'
								loading='lazy'
							/>
						</a>
					</div><div>
						<div class='flex flex-col items-center gap-y-2 md:flex-row'>
							<a class='hover:text-cyan-400' href='/demo/astro-boilerplate'>
								<div class='text-xl font-semibold'>Project 2</div>
							</a><div class='ml-3 flex gap-2'>
								<div
									class='rounded-md px-2 py-1 text-xs font-semibold bg-violet-400 text-violet-900'
								>
									Next.js
								</div><div
									class='rounded-md px-2 py-1 text-xs font-semibold bg-emerald-400 text-emerald-900'
								>
									Blog
								</div><div
									class='rounded-md px-2 py-1 text-xs font-semibold bg-yellow-400 text-yellow-900'
								>
									JavaScript
								</div>
							</div>
						</div><p class='mt-3 text-gray-400'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Suspendisse bibendum. Nunc non posuere consectetur, justo erat
							semper enim, non hendrerit dui odio id enim.
						</p>
					</div>
				</div><div
					class='flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row'
				>
					<div class='shrink-0'>
						<a href='/demo/astro-boilerplate'>
							<img
								class='h-36 w-36 hover:translate-y-1'
								src='assets/images/project-maps.png'
								alt='Project Maps'
								loading='lazy'
							/>
						</a>
					</div><div>
						<div class='flex flex-col items-center gap-y-2 md:flex-row'>
							<a class='hover:text-cyan-400' href='/demo/astro-boilerplate'>
								<div class='text-xl font-semibold'>Project 3</div>
							</a><div class='ml-3 flex gap-2'>
								<div
									class='rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900'
								>
									Astro.js
								</div><div
									class='rounded-md px-2 py-1 text-xs font-semibold bg-indigo-400 text-indigo-900'
								>
									Bootstrap
								</div><div
									class='rounded-md px-2 py-1 text-xs font-semibold bg-rose-400 text-rose-900'
								>
									TypeScript
								</div>
							</div>
						</div><p class='mt-3 text-gray-400'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Suspendisse bibendum. Nunc non posuere consectetur, justo erat
							semper enim, non hendrerit dui odio id enim.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class='max-w-7xl mx-auto px-6 md:px-12 xl:px-6'>
				<div class='mb-12 space-y-2 text-center'>
					<h2
						class='text-3xl font-bold text-gray-800 md:text-4xl dark:text-white'
					>
						Latest Articles
					</h2>
					<p class='lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300'>
						Quam hic dolore cumque voluptate rerum beatae et quae, tempore sunt,
						debitis dolorum officia aliquid explicabo? Excepturi, voluptate?
					</p>
				</div>
				<div class='grid gap-8 md:grid-cols-2 lg:grid-cols-3'>
					<div
						class='group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10'
					>
						<div class='relative overflow-hidden rounded-xl'>
							<img
								src='https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80'
								alt='art cover'
								loading='lazy'
								width='1000'
								height='667'
								class='h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105'
							/>
						</div>
						<div class='mt-6 relative'>
							<h3 class='text-2xl font-semibold text-gray-800 dark:text-white'>
								De fuga fugiat lorem ispum laboriosam expedita.
							</h3>
							<p class='mt-6 mb-8 text-gray-600 dark:text-gray-300'>
								Voluptates harum aliquam totam, doloribus eum impedit atque!
								Temporibus...
							</p>
							<a class='inline-block' href='#'>
								<span class='text-info dark:text-blue-300'>Read more</span>
							</a>
						</div>
					</div>
					<div
						class='group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10'
					>
						<div class='relative overflow-hidden rounded-xl'>
							<img
								src='https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80'
								alt='art cover'
								loading='lazy'
								width='1000'
								height='667'
								class='h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105'
							/>
						</div>
						<div class='mt-6 relative'>
							<h3 class='text-2xl font-semibold text-gray-800 dark:text-white'>
								De fuga fugiat lorem ispum laboriosam expedita.
							</h3>
							<p class='mt-6 mb-8 text-gray-600 dark:text-gray-300'>
								Voluptates harum aliquam totam, doloribus eum impedit atque!
								Temporibus...
							</p>
							<a class='inline-block' href='#'>
								<span class='text-info dark:text-blue-300'>Read more</span>
							</a>
						</div>
					</div>
					<div
						class='group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10'
					>
						<div class='relative overflow-hidden rounded-xl'>
							<img
								src='https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80'
								alt='art cover'
								loading='lazy'
								width='1000'
								height='667'
								class='h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105'
							/>
						</div>
						<div class='mt-6 relative'>
							<h3 class='text-2xl font-semibold text-gray-800 dark:text-white'>
								De fuga fugiat lorem ispum laboriosam expedita.
							</h3>
							<p class='mt-6 mb-8 text-gray-600 dark:text-gray-300'>
								Voluptates harum aliquam totam, doloribus eum impedit atque!
								Temporibus...
							</p>
							<a class='inline-block' href='#'>
								<span class='text-info dark:text-blue-300'>Read more</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</BaseLayout>
